<nav class="main-nav" role="navigation" aria-label="{{ 'a11y.main_nav' | t: default: 'Main navigation' }}">
  <ul class="main-nav__list">
    <li>
      <a href="{{ routes.root_url }}">{{ 'nav.home' | t: default: 'Home' }}</a>
    </li>
    <li>
      <a href="{{ routes.collections_url }}">{{ 'nav.shop' | t: default: 'Shop' }}</a>
    </li>
  </ul>
</nav>
